In [2]:
using DataFrames

In [3]:
df = DataFrame(A=1:4, B=["M", "F", "F", "M"])

4×2 DataFrame
 Row │ A      B
     │ Int64  String
─────┼───────────────
   1 │     1  M
   2 │     2  F
   3 │     3  F
   4 │     4  M

In [5]:
df = DataFrame(A=1:5, B=["Bib", "Inst", "#I", "#N", "CPU (.s)"])

5×2 DataFrame
 Row │ A      B
     │ Int64  String
─────┼─────────────────
   1 │     1  Bib
   2 │     2  Inst
   3 │     3  #I
   4 │     4  #N
   5 │     5  CPU (.s)

In [15]:
df = DataFrame(Bib=String[], Inst=String[], Var=Int[], Const=Int[], DomConst=Int[], Conconst=Int[], CoverI=Int[], Nodes=Int[], Gap=Float64[], CPU=Float64[])

0×10 DataFrame

In [16]:
push!(df, Dict(:Bib => "F", :Inst => "3"))

LoadError: ArgumentError: `push!` with `cols` equal to `:setequal` requires `row` to have the same number of elements as the number of columns in `df`.

In [42]:
ResultDict=Dict(:Bib=>"", :Inst=>"", :Var=>1, :Const=>1, :DomConst=>1, :Conconst=>1, :CoverI=>1, :Nodes=>1, :Gap=>1, :CPU=>1)
ResultDict

Dict{Symbol, Any} with 10 entries:
  :Inst     => ""
  :Nodes    => 1
  :DomConst => 1
  :CPU      => 1
  :Gap      => 1
  :Const    => 1
  :Bib      => ""
  :Var      => 1
  :CoverI   => 1
  :Conconst => 1

In [39]:
ResultDict = Dict(:Bib=>"", :Inst=>"", :Var=>1, :Const=>1, :DomConst=>1, :Conconst=>1, :CoverI=>1, :Nodes=>1, :Gap=>1, :CPU=>1)

Dict{Symbol, Any} with 10 entries:
  :Inst     => ""
  :Nodes    => 1
  :DomConst => 1
  :CPU      => 1
  :Gap      => 1
  :Const    => 1
  :Bib      => ""
  :Var      => 1
  :CoverI   => 1
  :Conconst => 1

LoadError: ArgumentError: syntax df[column] is not supported use df[!, column] instead

In [28]:
df=DataFrame(Bib=String[], Inst=String[], Var=Int[], Const=Int[], DomConst=Int[], Conconst=Int[], CoverI=Int[], Nodes=Int[], Gap=Float64[], CPU=Float64[])

0×10 DataFrame

In [30]:
push!(df, ResultDict)

2×10 DataFrame
 Row │ Bib     Inst    Var    Const  DomConst  Conconst  CoverI  Nodes  Gap    ⋯
     │ String  String  Int64  Int64  Int64     Int64     Int64   Int64  Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │                     1      1         1         1       1      1      1. ⋯
   2 │                     1      1         1         1       1      1      1.
                                                               2 columns omitted

In [33]:
typeof(ResultDict)

Dict{Symbol, Any}

In [44]:
ResultDict[:Bib]

""

In [2]:
using CSV
using DataFrames
df = DataFrame(CSV.File("Expes/0/Results/results.csv"))
show(stdout, MIME("text/latex"), df)

\begin{tabular}{r|ccccccccc}
	& Bib & Inst & Var & Const & DomConst & CoverI & Nodes & Gap & CPU\\
	\hline
	& Int64 & String & Int64 & Int64 & Int64 & Int64 & Int64 & Float64 & Float64\\
	\hline
	1 & 0 & scenario\_1.txt & 2025 & 4632 & 0 & 0 & 0 & 0.0 & 0.25 \\
	2 & 0 & scenario\_10.txt & 1636 & 3573 & 0 & 0 & 236 & 0.37 & 34.02 \\
	3 & 0 & scenario\_11.txt & 1687 & 3591 & 0 & 0 & 0 & 0.0 & 0.17 \\
	4 & 0 & scenario\_12.txt & 2073 & 4839 & 0 & 0 & 0 & 0.0 & 0.21 \\
	5 & 0 & scenario\_13.txt & 1937 & 4413 & 0 & 0 & 0 & 0.13 & 0.5 \\
	6 & 0 & scenario\_14.txt & 2014 & 4626 & 0 & 0 & 0 & 0.0 & 0.28 \\
	7 & 0 & scenario\_15.txt & 2019 & 4587 & 0 & 0 & 0 & 0.07 & 0.41 \\
	8 & 0 & scenario\_16.txt & 1809 & 4029 & 0 & 0 & 0 & 0.15 & 0.32 \\
	9 & 0 & scenario\_17.txt & 2065 & 4761 & 0 & 0 & 0 & 0.0 & 0.23 \\
	10 & 0 & scenario\_18.txt & 2061 & 4767 & 0 & 0 & 0 & 0.35 & 0.34 \\
	11 & 0 & scenario\_19.txt & 1946 & 4377 & 0 & 0 & 0 & 0.33 & 5.87 \\
	12 & 0 & scenario\_2.txt & 2049 & 4704 & 0 & 0 & 0 & 0.16 & 0.64 \\
	13 & 0 & scenario\_20.txt & 2067 & 4749 & 0 & 0 & 0 & 0.25 & 0.69 \\
	14 & 0 & scenario\_3.txt & 2039 & 4647 & 0 & 0 & 0 & 0.54 & 8.84 \\
	15 & 0 & scenario\_4.txt & 1979 & 4485 & 0 & 0 & 0 & 0.0 & 0.22 \\
	16 & 0 & scenario\_5.txt & 2056 & 4698 & 0 & 0 & 3021 & 1.33 & 16.12 \\
	17 & 0 & scenario\_6.txt & 1917 & 4299 & 0 & 0 & 8759 & 2.51 & 43.03 \\
	18 & 0 & scenario\_7.txt & 1897 & 4275 & 0 & 0 & 1812 & 0.63 & 14.64 \\
	19 & 0 & scenario\_8.txt & 2040 & 4641 & 0 & 0 & 1006 & 0.81 & 28.88 \\
	20 & 0 & scenario\_9.txt & 1969 & 4410 & 0 & 0 & 33547 & 2.09 & 43.2 \\
\end{tabular}

14

In [26]:
using Statistics
avg=[try round(mean(c),digits=2)
    catch 
        "-"
    end 
    for c in eachcol(df)]
ch="\textbf{Average}" *" & "
for i in 1:length(avg)
    if i!=length(avg)
        ch=ch*avg[i]*" & "
    else 
        ch=ch*avg[i]*" \\ "
    end 
end 
 * string(avg[1])*" & " *string(avg[2])

"0.0 & -"

In [36]:
df = DataFrame(CSV.File("Expes/05/Results/results.csv"))
show(stdout, MIME("text/latex"),df)

\begin{tabular}{r|ccccccccc}
	& Bib & Inst & Var & Const & DomConst & CoverI & Nodes & Gap & CPU\\
	\hline
	& String & String & Int64 & Int64 & Int64 & Int64 & Int64 & Float64 & Float64\\
	\hline
	1 & 0 & scenario\_1.txt & 47105 & 145307 & 1 & 0 & 0 & 202.14 & 105.61 \\
	2 & 0 & scenario\_10.txt & 19112 & 58980 & 2 & 0 & 4 & 120.18 & 2253.4 \\
	3 & 0 & scenario\_11.txt & 55881 & 172321 & 3 & 0 & 0 & 65.31 & 194.34 \\
	4 & 0 & scenario\_12.txt & 29295 & 90433 & 1 & 0 & 0 & 132.04 & 10.08 \\
	5 & 0 & scenario\_13.txt & 34081 & 105219 & 2 & 0 & 0 & 99.92 & 19.37 \\
	6 & 0 & scenario\_14.txt & 38822 & 119806 & 0 & 0 & 0 & 92.73 & 10.81 \\
	7 & 0 & scenario\_15.txt & 56507 & 174191 & 1 & 0 & 0 & 259.0 & 217.17 \\
	8 & 0 & scenario\_16.txt & 33379 & 103077 & 2 & 0 & 0 & 79.78 & 47.63 \\
	9 & 0 & scenario\_17.txt & 43915 & 135489 & 0 & 0 & 0 & 568.43 & 0.3 \\
	10 & 0 & scenario\_18.txt & 39127 & 120749 & 1 & 0 & 0 & 594.32 & 11.62 \\
	11 & 0 & scenario\_19.txt & 53210 & 164114 & 5 & 0 & 0 & 169.61 & 39.52 \\
	12 & 0 & scenario\_2.txt & 47405 & 146209 & 0 & 0 & 0 & 306.57 & 137.85 \\
	13 & 0 & scenario\_20.txt & 49725 & 153355 & 0 & 0 & 0 & 389.03 & 0.35 \\
	14 & 0 & scenario\_3.txt & 56331 & 173651 & 1 & 0 & 0 & 234.85 & 1576.03 \\
	15 & 0 & scenario\_4.txt & 50671 & 156253 & 0 & 0 & 0 & 214.56 & 4683.43 \\
	16 & 0 & scenario\_5.txt & 56348 & 173712 & 2 & 0 & 1 & 779.87 & 6188.85 \\
	17 & 0 & scenario\_6.txt & 49575 & 152935 & 3 & 0 & 0 & 307.18 & 430.44 \\
	18 & 0 & scenario\_7.txt & 38447 & 118663 & 0 & 0 & 5 & 204.16 & 1970.75 \\
	19 & 0 & scenario\_8.txt & 59840 & 184454 & 4 & 0 & 0 & 554.67 & 2208.48 \\
	20 & 0 & scenario\_9.txt & 67073 & 206615 & 1 & 0 & 0 & 200.72 & 7031.47 \\
	21 & petite\_instance & scenario\_1.dat & 21959 & 67185 & 1 & 0 & 103 & 50.0 & 2147.54 \\
\end{tabular}

14

In [39]:
average(df[!,Nodes])

LoadError: UndefVarError: Nodes not defined

In [1]:
import matplotlib.pyplot as plt

LoadError: ArgumentError: Package matplotlib not found in current path:
- Run `import Pkg; Pkg.add("matplotlib")` to install the matplotlib package.